@media all and (max-width: 670px){
    
    .menu-icon{
        display: block;
    }
    
    .top{
        margin-top: 30px;
        background-image: url(top.jpg);
        background-position: center bottom;
        background-size: cover;
        color: white;
        position: relative;
    }

    .header-right{
        display: none;
    }

    

}
