@media all and (max-width: 670px){
    
    .menu-icon{
        display: block;
    }
    
    .header-logo{
        width: 100px;
    }
    
    .header-right{
        display: none;
    }
    
    .top{
        margin-top: 90px;
        width: 100%;
        height: 400px;
    }
    
    .top h1{
        letter-spacing: 3px;
        line-height: 0.8em;
        font-size: 60px;
        top: 15%;
        left: 40%;
        opacity: 1;
    }

    .top p{
        font-size: 13px;
        top: 50%;
        left: 40%;
        opacity: 1;
    }
    
    .information{
        display: block;
    }
    
    .information-content a{
        margin-left: 0px;
    }
    
    .icons{
        padding: 5px 10px;
        text-align: center;
    }
    
    .icons-mini{
        text-align: center;
    }
    
    .icons h2{
        font-size: 25px;
        line-height: 50px;
    }

    .icons-mini h2{
        font-size: 20px;
        text-align: center;
    }

    .icons-sub{
        padding: 5px 10px;
        font-size: 15px;
        line-height: 30px;
    }
    
    .about-title{
        display: block;
        margin-top: 60px;
    }
    
    .about{
        margin: 20px 0;
    }
    
    .description{
        font-size: 15px;
    }
    
    .about-contents{
        margin-top: 10px; 
        display: block;
    }
    
    .about-content{
        height: 200px;
        width: 100%;
        margin-top: 15px;
    }
    
    .about-content img{
        padding-right: 0px;
        object-position: 100% 0%;
        margin-top; 20px;
    }
    
    .content {
        font-size: 15px;
    }
    
    .about-more{
        height: 40px;
        text-align: center;
    }

    .about-more a{
        position: static;
        padding-top: 10px;
    }

    .more a{
        font-size: 30px;
    }
    
    .about-contents-others{
        margin-top: 60px; 
        display: block;
    }
    
    .about-contents-other{
        width: 100%;
    }
    
    .concept-image{
        height: 300x;
    }

    #house{
        top: 40%;
    }
  
    .concept{
        position: static;
        margin-left: 0px;
    }
    
    .menus{
        margin-top: 30px;
    }
    
    .menu-image{
        height: 60%;
        width: 50%;
    }
    
    .menu{
        width: 100%;
        padding: 0px;
    }
    
    .menu-more{
        position: static;
    }
    
    .access-contents{
        display: block;
        height: 200px;
        width: 100%;
        margin-top: 60px;
    }

    .access-content{
        width: 100%;
    }
    
    .maps{
        width: 100%;
        display: block;
    }

    .map{
        height: 100%;
        margin: 0 20px;
        width: 50%;
        object-fit: cover;
    }
    

    
    .footer-main-content a{
      display: none;
    }

    
    

}
