@media all and (max-width: 670px){
    
    .menu-icon{
        display: block;
    }
    
    .top{
        margin-top: 90px;
        width: 100%;
        height: 200px;
    }

    .header-right{
        display: none;
    }
    
    .footer-main-content a{
      font-size: 10px;
      margin-right: 15px;
    }

    

}
